<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <title>Upload Your Video</title>
</head>

<body>
    <h1>Upload a video</h1>
    <input id="picker" type="file" multiple="multiple" />
    <script src="~/js/upchunk.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>